.main {
    width: 100%;
    height: 100vh;
}

.HeroMin{
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url("https://img.freepik.com/premium-photo/laptop-campus-technology-friendship-friends-group-online-talking-computer-lifestyle-people-outdoors_163305-207634.jpg?w=1060");
}
.statusCantainer {
    width: 100%;
    height: auto;
    background-color: #f3eee7;

}

.statusHeadingMain {
    width: 100%;
    height: auto;
    text-align: center;
}

.statusHeadingMain h1 {
    font-size: 2.5rem;
    letter-spacing: -0.025rem;
    color: #000;
    margin: 0px;
}

.StatusCard {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.statusBand {
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width:850px) {
    .StatusCard {

        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width:600px) {
    .StatusCard {

        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}