.bg-tarns{
    background: transparent!important;
    
}
.bg-Nav{
    background: #00000071!important;
    backdrop-filter: blur(20px)!important;
}

.MuiList-root{
    background-color: #000!important;
}