.testiContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #111;
}
.containerRevers{
    flex-direction: row-reverse;
}

.testidivider {
    width: 49%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testtiHeading {
    width: 100%;
    height: auto;
}

.testtiHeading h1 {
    letter-spacing: -0.03rem;
    font-size: 2.3rem;
    line-height: 1;
    margin: 0;
    color: #ebecf3;

}

.testtiHeading p {
    font-size: 15px;
    letter-spacing: -0.025rem;
    color: #ebecf3;
    font-weight: 400;
}

.testiButton {
    border: none;
    box-shadow: 1px 1px .4rem #717171;
    width: 230px;
    background-color: #007aff;
    color: #000;
    font-size: 18px;
    letter-spacing: -0.025rem;
    font-weight: 700;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}

.testiButton:hover {
    background-color: #000;
    color: #007aff;
}


.testiImage {
    width: 100%;
    height: auto;
    padding: 5px;
}

.testiImage img {
    width: 100%;
}

.borderLines{
    width: 100%;
    max-width: 1050px;
    height: 1px;
    background-color: #ebecf3;
    margin-top: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width:900px) {
    .testiImage {
        align-items: center;
        display: flex;
    }
}

@media screen and (max-width:770px) {
    .testidivider {
        width: 100%;
    }

    .testtiHeading {
        text-align: center;
    }

}

@media screen and (max-width:500px) {
    .testtiHeading h1{
        font-size: 1.8rem;
    }

    .testtiHeading p{
        font-size: 12px;
    }

    .testiButton{
        margin:10px ;
        padding: 8px;
    }
}

@media screen and (max-width:400px) {
    .testtiHeading h1{
        font-size: 1.5rem;
    }

    .testtiHeading p{
        font-size: 10px;
    }
}