.statusContaier {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.statusImg {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.statusImg img {
    filter: invert(1);
    width: 100%;
}

.statusHead {
    width: 90%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.statusHead h1 {
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: -0.025rem;
    color: #ebecf3;
}

.statusHead p {
    margin: 0;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: -0.025rem;
    color: #ebecf3;
}

.StatusBtn {
    width: 100%;
    max-width: 250px;
    border: none;
    box-shadow: 1px 1px .4rem #6b6b6b;
    background-color: #007aff;
    color: #000;
    font-size: 18px;
    letter-spacing: -0.025rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.StatusBtn:hover {
    background-color: #000;
    color: #007aff;
}



.statusBandContaier {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 20px;
    background: #262626;
    border-radius: 10px;
    cursor: pointer;
}

.statusBandContaier:hover {
    transform: scale(1.06);
}

.statusBandContaiers {
    padding: 10px !important;
}

.StatusBandIcon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007aff; */
    border-radius: 50%;
    margin-bottom: 10px;
}

.StatusBandIcon img {
    filter: invert(1) brightness(0.8);
    width: 100%;
}

.StatusBandHeading {
    width: 100%;
    height: auto;
    text-align: center;
}

.StatusBandHeading h1 {
    filter: brightness(0.8);

    font-size: 17px;
    letter-spacing: -0.025rem;
    font-weight: 500;
    color: #ebecf3;
    margin: 10px;
}

@media screen and (max-width:450px) {
    .StatusBtn {
        margin: 10px;
        padding: 7px;
    }
}