.footerContainer {
    width: 100%;
    height: auto;
    padding: 10px;
}

.footerLogo {
    width: 100%;
    height: auto;
    margin: 30px auto;
    text-align: center;
}

.footerLogo img{
    width: 200px;
    filter: invert(1);
}

.footerBody {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerLinksContainer {
    width: 18%;
    padding: 5px;
    margin: 10px;
    height: auto;

}

.mediaIcon{
    width: 70px;
    height: 70px;
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mediaIcon img{
    width: 100%;
}

.imgSize{
    width: 60%!important;

}

.footerimg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerRoundCirlcle {
    width: 100px;
    height: 100px;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footerRoundCirlcle img {
    width: 100%;
    height: 100%;
}

.copyRight{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    /* background-color: red; */
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyRighttext{
    width: fit-content;
}

.copyRighttext p{
    width: fit-content;
    font-weight: 600;
    letter-spacing: -0.025rem;
    font-size: 17px;
}

.copyRightHeading{
    font-size: 20px!important;
    font-weight: bold!important;
}

.copyRigthYellow{
    color: #007aff;
}

@media screen and (max-width:900px) {
    .footerLinksContainers,.footerLinksContainer {
        width: 22%;
    }
}

@media screen and (max-width:750px) {
  .copyRighttext,  .copyRighttext p ,.footerLinksContainers,.footerLinksContainer {
        width: 100%;
        text-align: center;
    }
}