.telContainer {
    width: 100%;
    height: auto;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.teldivider {
    width: 49%;
    height: auto;
}

.telFirstPart {
    width: 60%;
    margin: 10px auto;
    height: auto;
}

.telSecondPart {
    width: 70%;
    margin: 10px auto 10px 20px;
    height: auto;
}

.telHeading {
    width: 100%;
    height: auto;
}

.telHeading h1 {
    letter-spacing: -0.04rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ebecf3;
    line-height: 1;
    text-shadow: 1px 1px .8rem #000;
}

.telHeading p {
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    color: #ebecf3;
    font-weight: 400;
    letter-spacing: -0.025rem;
    /* line-height: 2; */
    text-shadow: 1px 1px .8rem #000;

}

.telHeadingSecond {
    width: fit-content;
    padding-right: 10px;
    height: auto;
    margin-bottom: 15px;
    border-bottom: 4px solid #007aff;
    margin-left: 10px;

}

.telHeadingSecond h1 {
    letter-spacing: -0.025rem;
    font-size: 2.5rem;
    color: #ebecf3;
    text-shadow: 1px 1px .8rem #000;
    margin: 0;
    margin-bottom: 5px;
    line-height: 1;
}

.telPoints {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 5px;


}

.telIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007aff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telIcon img {
    width: 50%;
}

.telIconPoint {
    width: 70%;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.telIconPoint p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #ebecf3;
    text-shadow: 1px 1px .4rem #0c1921;

}

@media screen and (max-width:770px) {
    .teldivider {
        width: 100%;
        justify-content: center;
    }

    .telContainer {
        text-align: center;
    }

    .telHeadingSecond {
        margin: 20px auto;
    }

    .telPoints {
        width: 100%;
    }

    .telSecondPart {
        margin: 10px auto;
    }
}

@media screen and (max-width:450px) {
    .telSecondPart {
        width: 100%;
    }
}